{{ define "main" }}

<section class="page-section" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-start">
      <h1>{{ .Title }}</h1>
      <p>
        <small>
          {{- partial "post-metadata.html" . -}}
        </small>
      </p>
      <p>{{ .Page.Content }} </p>

      <div id="my_nanogallery2" class="galleryTheme" data-nanogallery2='{
                "thumbnailWidth":   "auto",
                "thumbnailHeight":  250,

                "galleryDisplayMode": "pagination",
                "galleryMaxRows":  {{ .Params.gallery_rows }},
                

                "thumbnailDisplayTransition": "flipUp",
                "thumbnailDisplayTransitionDuration": 400,
                "thumbnailDisplayInterval": 200,
                "thumbnailDisplayOrder": "rowByRow",

                "thumbnailAlignment": "fillWidth",
                "thumbnailL1GutterWidth": 20,
                "thumbnailL1GutterHeight": 20,
                "thumbnailBorderHorizontal": 1,
                "thumbnailBorderVertical": 1,
                "thumbnailHoverEffect2": "toolsSlideUp|labelSlideDown",
                "touchAnimation": true,
                "touchAutoOpenDelay": -1,
                "itemsBaseURL":     "/images/"
                }'>

        {{ range .Params.gallery_images}}
        <a href="{{- . -}} " data-ngthumb="{{- . -}}"></a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}