
<div class="row">
  {{ $featuredPosts :=  where .Site.Pages "Type" "featured"}}
  {{ range sort $featuredPosts ".Params.display_order" }}
    {{ $featured_image := .Params.featured_image }}
    {{ $href := .Params.button_url | default .RelPermalink }}
    <div class="col-md m-2">
      <div class="featured p-3 border-light-grey">
        <div class="featured-img mb-2 protected" style="background-image: url('{{ $featured_image }}')"></div>
        <h3 class="mb-2 text-primary"><a href="{{ $href }}" {{ if hasPrefix $href "http" }} rel="noopener noreferrer" target="_blank" {{ end }}>{{ .Title }}<a></h3>
        <p>{{ .Content }}</p>
        
        <a href="{{ $href }}" type="button" class="btn btn-outline-primary" {{ if hasPrefix $href "http" }} rel="noopener noreferrer" target="_blank" {{ end }}>
          {{ .Params.button_text}}
          <i class="bi bi-arrow-right-circle ms-1"></i>
        </a>
      </div>
    </div>
  {{ end }}
</div>