<footer class="bottom-0 w-100 bg-gark-grey" role="contentinfo">
  <section class="page-section w-100 h-20" id="footer">
    <div class="container px-4 px-lg-5">
      <div class="d-flex align-items-center justify-content-center">
          <a class="text-primary-light small" href="{{ .Site.BaseURL }}">
            &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
          </a>
        <div class="ms-2">{{ partial "social-follow.html" . }}</div>
      </div>
    </div>
  </section>
  </div>
</footer>